<link rel="stylesheet" href="/css/app.css">
<%- include ('../partials/header.ejs') %>
<h1> Index of Sellers </h1>


<ul>
    <% sellers.forEach(seller => {%>
    <li>
        <a href="/sellers/<%= seller.id%>"> <%=seller.name%> </a>
    </li>
    <!-- <a href="/sellers/<%=sellers.id%>/edit">edit</a> -->
    <form action="/sellers/<%=seller._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>

    <% }) %>


</ul>
<%- include ('../partials/footer.ejs') %>