<link rel="stylesheet" href="/css/app.css">
<%- include ('../partials/header.ejs') %>

<h1><%= seller.name %> Seller's Detail Page</h1>

<a href="/albums/new?sellerId=<%= seller.id %> "> Add New Album</a>

<% seller.albums.forEach(album => { %>
<a href="/albums/<%= album.id %>"> <%=album.artist %> </a>
<% })%>