<%- include ('../partials/header.ejs') %>

<h1> Index of Albums </h1>


<ul>
    <% albums.forEach(album => {%>
    <li>
        <a href="/albums/<%= album.id%>"> <%=album.title%> </a>
    </li>


    <form action="/albums/<%=album._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
        <!-- <input type="submit" value="DELETE" /> -->
    </form> <% }) %>
</ul>
<%- include ('../partials/footer.ejs') %>